<% @page_title = board.is_game_over? ? "Game over" : "Game in progress..." %>
<%= form_tag(:action => "move_made") do %>
<div id="wait-for-move" style="padding-left:10px;">

<h1 id=main_title><%= h(title) %></h1>

 <input type="hidden" id="hidden-next-to-move" value="<%=board.next_to_move?%>" />

 <table id="board" style="padding-left:40px;">
 <% for row in (0..board.board_size - 1) %>
   <tr>
   <% for column in (0..board.board_size - 1) %>
     <td>
     <% if board.last_move? == [row, column] && !board.is_game_over?
          css_class = 'squares_to_flash'
        else
	  css_class = nil
        end
        if board[row][column] == 'x' %>
       <%=submit_tag("X", :disabled => true, :class => css_class, :style => 'color:#FF0000; width:35px')%>
     <% elsif board[row][column] == 'o' %>
       <%=submit_tag("O", :disabled => true, :class => css_class, :style => 'color:#0000FF; width:35px')%>
     <% else %>     
       <%=submit_tag(h(" "), :class => "empty_square", :disabled => board.is_game_over?, :name => "move_#{row}_#{column}", :style => 'width:35px')%>
     <% end %>
     </td>
   <% end %>
   </tr>
 <% end %>
</table>

 <input type="hidden" id="move_number" name="move_number" value="<%=board.moves.size%>" />

</div>
<% end %>

<% if board.is_game_over? %>
  <p />
  <table>
  <tr>
  <td>
  <%= form_tag(:action => "next_game") do %>
  <div id="restart_game" style="padding-left:20px;">
    <%=submit_tag("Next game", :name => "next_game_button", :style => 'width:110px') %>
  </div>
  <% end %>
  </td>
  <td>
  <%= form_tag(:action => "back_to_setup") do %>
  <div id="change_settings" style="padding-left:5px;">
    <%=submit_tag("Settings", :name => "change_settings_button", :style => 'width:110px') %>
  </div>
  <% end %>
  </td>
  </tr>
  </table>
<% end %>
