<% @page_title = "Game in progress..." %>
<%= form_tag(:action => "move_made") do %>
<div id="wait-for-move" style="padding-left:10px;">
<h1>Waiting for move...</h1>
 <table id="board" style="padding-left:40px;">
 <% for row in (0..board.board_size - 1) %>
   <tr>
   <% for column in (0..board.board_size - 1) %>
     <td>
     <% if board[row][column] == 'x' %>
       <%=submit_tag("X", :disabled => true, :style => 'color:#FF0000; width:35px')%>
     <% elsif board[row][column] == 'o' %>
       <%=submit_tag("O", :disabled => true, :style => 'color:#0000FF; width:35px')%>
     <% else %>     
       <%=submit_tag(h(" "), :name => "move_#{row}_#{column}", :style => 'width:35px')%>
     <% end %>
     </td>
   <% end %>
   </tr>
 <% end %>
</table>

 <input type="hidden" id="move_number" name="move_number" value="<%=board.moves.size%>" />

</div>
<% end %>
